{% extends 'base.html' %}

{% block title %}
    Cursos
{% endblock %}

{% block content %}
    <body style="background-image: url(../../media/img/fondo-marmol.jpg) ;
     background-position: center; 
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;">
    <h1 style="text-align: center;"><u>Cocinar nunca fue tan facil</u></h1><br>

    <h2><u>Curso de Chef Profesional</u></h2>
    <h3>Si tu campo de acción es exclusivamente la cocina, la carrera de Cocinero Profesional con su programa práctico y virtual de un año de duración, te enseña los fundamentos de la cocina. 
    Aprenderás y dominarás todas las técnicas de cocción aplicadas a una gran diversidad de materias primas. 
    Esta formación te permitirá trabajar en restaurantes y cocinas, así como también poder liderar y crear tu propio emprendimiento gastronómico.<br></h3>

        <p style="text-align: center;"><img src="../../media/img/chef.jpg" alt="" width="300px" height="300px"></p>

        <p style="text-align: center;"><a href="/courses/inscription-course/" class="btn btn-primary">Inscribirse</a><br></p>

    <p style="text-align: center;"><h2><u>Curso de Pastelero Profesional</u></h2></p>
    <h3>Si tu campo de acción es exclusivamente la pastelería, la carrera de Pastelero Profesional, con su programa práctico y virtual de un año de duración, te enseña los fundamentos de la pastelería y la panadería. 
    Aprenderás y dominarás todas las técnicas aplicadas y una gran diversidad de materias primas. 
    Esta formación te permitirá trabajar en pastelerías, panaderías, restaurantes y cocinas, así como también poder liderar y crear tu propio emprendimiento gastronómico.<br></h3>

        <p style="text-align: center;"><img src="../../media/img/pastelero.jpg" alt="" width="300px" height="300px"></p> 
        
        <p style="text-align: center;"><a href="/courses/inscription-course/" class="btn btn-primary">Inscribirse</a><br></p>

{% endblock %}