{% extends 'base.html' %}

{% block title %}
    Sobre nosotros
{% endblock %}

{% block content %}
    <body style="background-image: url(../media/img/fondo-marmol.jpg) ;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
    <h2>Sobre mi: <br> 
    Soy Elizabeth Gimenez, este es mi primer proyecto con backend, se trata de una pagina de recetas la cual tambien podes inscribirte a dos cursos de cocina.
    </h2>
{% endblock %}