{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style_portfolio.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar " style="background: lightblue;">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recetas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/recipes/list-recipes"> Listado de Recetas</a> 
                        {% if request.user.is_superuser %}
                        <a class="dropdown-item" href="/recipes/create-recipes/">Cargar Recetas</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin-right: 650px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Info
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/about-us/">About us</a> 
                        <a class="dropdown-item"  href="/courses/our-course/">Nuestros Cursos</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(255, 255, 255); margin-bottom:5px; margin-top:0px; margin-right:-100px; font-style:italic;">
                        {% if request.user.is_authenticated %}
                            {% if request.user.profile.profile_picture.url != '' %}
                                <img src="{{request.user.profile.profile_picture.url}}" alt="profile_picture" width="35px" height="35px">
                                {{request.user.username}}
                            {% endif %}
                        {% elif not request.user.is_authenticated %}
                            Sesión
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if not request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="/users/login/">Iniciar Sesión</a></li>
                        <li><a class="dropdown-item" href="/users/signup/">Registrarse</a></li>
                        {% elif request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="/users/update/">Actualizar perfil</a></li>
                        <li><a class="dropdown-item" href="/users/logout/">Cerrar Sesión</a></li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" action = "/recipes/list-recipes" method = "GET">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar Recetas" aria-label="Search" name = 'search'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>    
    </nav>
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
<footer class="bg-dark text-center text-white">

    <div class="text-center p-3" style="background-color: lightblue;">
      © 2023 Copyright:
      <a class="text-white" href="#">EG | Elizabth Desing</a>
    </div>

</footer>

</html>