{% extends 'base.html' %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block content %}
    <body style="background-image: url(../../media/img/fondo-marmol.jpg) ;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
    <h3>Inicio de sesion</h3>
       
        {% if next %}
            <form method="post" action="/login/?next=/{{next}}">
        {% else %}
            <form method="post" action="{% url 'login' %}"/>
        {% endif %}

        {% csrf_token %}
                
        <table>       
            {{form.as_table}}
        </table>
                
        {% if errors %}
           <p style="color: red;">{{errors}}</p>
        {% endif %}
                
        <input type="submit" value="Ingresar">
{% endblock %}